{{!--
Actions: ruta a la cual se envía la info de los inputs. 
Method: cómo va a viajar la info en http
--}}

<form action="/search" method="GET">
  <label for="">City</label>
  <input type="text" name="city" id="">
  <label for="">Start-Date</label>
  <input type="date" name="start-date" id="">
  <label for="">End-Date</label>
  <input type="date" name="end-date" id="">
  <button type="submit">SEARCH</button>
</form>