<form action='/login-2' method='POST'>
<label for = 'email'>Email</label>
<input id= 'email' name= 'email' type = 'text'>
<br>
<label for = 'password'>Password</label>
<input type= 'password' name = 'password' id = 'password'>
<br>
<input type = 'submit' value= 'Login'>
</form>